
<app-header></app-header>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center text-primary px-3">Forgot password</h6>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.5s">

                    <form *ngIf="!isSent" [formGroup]="forgotPasswordForm" >
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="email"
                                type="text" 
                                class="form-control" 
                                formControlName="email" placeholder="email">
                                <label for="email">email</label>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button  (click)="forgotPassword()" class="btn btn-primary rounded-pill py-3 px-5" type="submit">Send</button>
                        </div>
                    </div>
                </form>
                <div *ngIf="isSent">
                    An reset password link has been sent to reset your password 
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
