  <!-- Footer Start -->
  <div
    class="container-fluid bg-dark text-body footer mt-5 pt-5 wow fadeIn"
    data-wow-delay="0.1s"
  >
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-4">Informations</h5>
          <p class="mb-2">
            <i class="fa fa-map-marker-alt me-3" style="color: #1e1261"></i
            >Esprit, Pole technologiques, El Ghazela
          </p>
          <p class="mb-2">
            <i class="fa fa-phone-alt me-3" style="color: #1e1261"></i>+216 96
            66 00 66
          </p>
          <p class="mb-2">
            <i class="fa fa-envelope me-3" style="color: #1e1261"></i
            >ForYou@gmail.Com
          </p>
          <div class="d-flex pt-2">
            <a
              class="btn btn-square btn-outline-secondary rounded-circle me-1"
              href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="btn btn-square btn-outline-secondary rounded-circle me-1"
              href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-square btn-outline-secondary rounded-circle me-1"
              href=""
              ><i class="fab fa-youtube"></i
            ></a>
            <a
              class="btn btn-square btn-outline-secondary rounded-circle me-0"
              href=""
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-4">Liens rapides</h5>
          <a class="btn btn-link" href="#about-section">A propos</a>
          <a class="btn btn-link" href="contact">Contactez Nous</a>
          <a class="btn btn-link" href="#service-section">Nos Services</a>
          <a class="btn btn-link" href="#team-section">Equipes</a>
        </div>

        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-4">Abonnement</h5>
          <p>Envoyer votre mail pour suivre les nouveautés</p>

          <div class="position-relative mx-auto" style="max-width: 400px">
            <div class="d-flex">
              <input
                class="form-control bg-transparent border-secondary flex-grow-1 py-3 ps-4 pe-5"
                type="text"
                placeholder="Adresse mail"
                style="width: 100px"
              />
              <button type="button" class="btn btn-primary py-2 ms-2">
                S'inscrire
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; <a style="color: #14b5e9" href="#">ForYou MicroInsurance</a>,
            All Right Reserved.
          </div>
          <div class="col-md-6 text-center text-md-end">
            Designed By <a style="color: #14b5e9" href=""> Avengers </a>
            <br />Distributed By:
            <a
              style="color: #14b5e9"
              class="border-bottom"
              href=""
              target="_blank"
            >
              TheAvengers
            </a>
          </div>
        </div>
      </div>
  </div>
</div>
