
<app-header></app-header>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center text-primary px-3">Create an account</h6>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.5s">
                <form [formGroup]="signUpForm">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="firstName"
                                type="text" 
                                class="form-control" 
                                formControlName="firstName" placeholder="First Name">
                                <label for="firstName">First Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="lastName"
                                type="text" 
                                class="form-control" 
                                formControlName="lastName" placeholder="Last Name">
                                <label for="lastName">Last Name</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="username"
                                type="text" 
                                class="form-control" 
                                formControlName="username" placeholder="Username">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="email"
                                type="email" 
                                class="form-control" 
                                formControlName="email" placeholder="Email">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="phoneNumber"
                                type="text" 
                                class="form-control" 
                                formControlName="phoneNumber" placeholder="Phone Number">
                                <label for="phoneNumber">Phone Number</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="birthdate"
                                type="date" 
                                class="form-control" 
                                formControlName="birthdate" placeholder="Birthdate">
                                <label for="birthdate">Birthdate</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="address"
                                type="text" 
                                class="form-control" 
                                formControlName="address" placeholder="address">
                                <label for="address">Address</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <select 
                                [(ngModel)]="role"
                                class="form-control" 
                                formControlName="role" placeholder="role">
                                <option value="CLIENT">Client</option>
                                <option value="EXPERT">Expert</option>
                                <option value="INSURER">Insurer</option>
                                </select>
                                <label for="role">Role</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="password"
                                type="password" 
                                class="form-control" 
                                formControlName="password" placeholder="Password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="confirmPassword"
                                type="password" 
                                class="form-control" 
                                formControlName="confirmPassword" placeholder="Confirm Password">
                                <label for="confirmPassword">Confirm Password</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>You already have an account ? <a routerLink="/login">Login</a></span>
                        </div>
                        <div class="col-12 text-center">
                            <button  (click)="signUp()" class="btn btn-primary rounded-pill py-3 px-5" type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
