<app-header></app-header>
<div class="container">
  <div class="row">
      <div class="col-lg-4 mb-lg-0 mb-3">
          <div class="card p-3">
              <div class="img-box">
                  <img src="assets/img/Visa.png" alt="">
              </div>

          </div>
      </div>
      <div class="col-lg-4 mb-lg-0 mb-3">
          <div class="card p-3">
              <div class="img-box">
                  <img src="https://www.freepnglogos.com/uploads/mastercard-png/file-mastercard-logo-svg-wikimedia-commons-4.png"
                      alt="">
              </div>

          </div>
      </div>
      <div class="col-lg-4 mb-lg-0 mb-3">
          <div class="card p-3">
              <div class="img-box">
                  <img src="https://www.freepnglogos.com/uploads/discover-png-logo/credit-cards-discover-png-logo-4.png"
                      alt="">
              </div>

          </div>
      </div>
      <div class="col-12 mt-4">
          <div class="card p-3"style="background-color: #1e1261;border-color: #14B5E9;color:white;">
              <p class="mb-0 fw-bold h4"style="color:white;">Méthode de payement</p>
          </div>
      </div>
      <div class="col-12">
          <div class="card p-3">
              <div class="card-body border p-0">
                  <p>
                      <a class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between"
                          data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                          aria-controls="collapseExample"style="background-color: #14B5E9;border-color: #14B5E9;">
                          <span class="fw-bold"style="color:white;">Carte bancaire</span>
                      </a>
                      <br>
                  </p>
                  <div class="collapse show p-3 pt-0" id="collapseExample">
                      <div class="row">
                          <div class="col-lg-5 mb-lg-0 mb-3">
                              <p class="h4 mb-0">Informations :</p>
                              <br>
                            <p class="mb-0"><span class="fw-bold">Identifiant de contart : </span><span class="c-green">Contract n° 5</span>
                              </p>
                              <p class="mb-0">
                                  <span class="fw-bold">Montant à payer : </span>
                                  <span class="c-green">120.00 dt</span>
                              </p>
                          </div>
                          <div class="col-lg-7">
                              <form action="" class="form">
                                  <div class="row">
                                      <div class="col-12">
                                          <div class="form-floating">
                                            <input type="text" class="form-control" id="num" placeholder="Numéro de la carte">
                                            <label for="num">Numéro de la carte</label>
                                          </div>
                                      </div>
                                      <br>
                                      <br>
                                      <br>
                                      <div class="col-6">
                                          <div class="form-floating">
                                            <input type="text" class="form-control" id="exp" placeholder="MM / YY">
                                            <label for="exp">MM / YY</label>
                                          </div>
                                      </div>
                                      <div class="col-6">

                                          <div class="form-floating">
                                            <input type="text" class="form-control" id="cvv" placeholder="Code cvv">
                                            <label for="cvv">Code cvv</label>
                                          </div>
                                      </div>
                                      <br>
                                      <br>
                                      <br>
                                      <div class="col-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control" id="Nom" placeholder="Nom de la carte">
                                          <label for="Nom">Nom de la carte</label>
                                        </div>


                                      </div>

                                  </div>
                              </form>
                              <br>
                              <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary" style="background-color: #14B5E9;border-color: #14B5E9;height:45px;
                                width: 270px;color:white;">Confirmer payment</button>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
