
<app-header></app-header>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center text-primary px-3">Reset password</h6>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.5s">
                <form [formGroup]="form">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="password"
                                type="password" 
                                class="form-control" 
                                formControlName="password" placeholder="Password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input 
                                [(ngModel)]="confirmPassword"
                                type="password" 
                                class="form-control" 
                                formControlName="confirmPassword" placeholder="Confirm Password">
                                <label for="confirmPassword">Confirm Password</label>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button  (click)="resetPwd()" class="btn btn-primary rounded-pill py-3 px-5" type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
